    <!-- JS Script -->
    <script type="text/javascript" src="/script/particle.js"></script>
    <script type="text/javascript" src="/script/index.js"></script> 
    <script>
      AOS.init();
  </script>
</body>
</html>