<%- include("partials/header") %>
<div class="container">
  <!-- NAVBAR -->
  <nav>
    <div class="flex-container top-nav">
      <h3 class="logo">Microsoft Learn <span>Student Chapter</span></h3>
      <div class="hamburger-menu">
        <a href="/" id="arrow">&#9666;</a>
        <!-- <a href="/about" id="arrow" class="logo">About</a> -->

          <div class="bar"></div>
      </div>
    </div>
  </nav>
</div>
   <!-- --------------FOOTER------------ -->
    <div class="bottom-container" id="bottom">
      <div class="row">
        <div class="col-lg-8 order-2 order-lg-1">
          <div class="content" data-aos="fade-right" data-aos-duration="2000">
            <!-- ----------ABOUT US------- -->
            <div class="about"> 
              <h3 class="title">
                About Us:
              </h3>
              <br>
              <p class="text">Microsoft Learn Student Chapter is a technical association of like-minded,
                driven individuals possessing a proclivity to excel in technical aspects.
                Our vision is to create a community of computer enthusiasts with a mindset of development.
                We uphold this by ensuring proper interaction among the society and by hierarchical mentoring,
                discussing and ideating constructive technical space.
              </p>
            </div>
            <br>
            <br> 
            <!-- ------FOLLOW LINKS----- -->
            <div class="follow">
              <h4>
                Follow us on :
              </h4>
              <br>
                <a href="https://discord.gg/CpAPtDC"><img src="/images/discord-07.png"></a>
                <a href="https://instagram.com/msc_tiet?igshid=bbv9mjjkx4h"><img src="/images/insta-07.png"></a>
                <a href="https://www.facebook.com/msctiet/"><img src="/images/fb-07.png"></a>
                <a href="https://github.com/MicrosoftStudentChapter"><img src="/images/github-07.png"></a>
            </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center order-1 order-lg-2 "> 
              <div class="msp-logo" data-aos="fade-right" data-aos-duration="3000">
                  <a href="/"><img src="/images/msp_shield.png"></a>
                </div>
          </div>
      </div>
    </div>
<%- include("partials/footer") %>
