<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MSC-Techmeet</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <!-- ----------------HEADER --------- -->
    <div class="container">
      <!-- NAVBAR -->
      <nav>
        <div class="flex-container top-nav">
          <h3 class="logo">Microsoft Learn <span>Student Chapter</span></h3>
          <div class="hamburger-menu">
            <a href="/about" id="arrow">&#9656;</a>
            <!-- <a href="/about" id="arrow" class="logo">About</a> -->

              <div class="bar"></div>
          </div>
        </div>
      </nav>
      <!-- Banner Intro -->
      <div class="row" id="top-content">
        <div class="col-md-12 ">
          <div class="banner" data-aos="zoom-in" data-aos-duration="3000">
            <h1 class="big-title translate" >Daedalus's Dream</h1>
            <br>
            <p class="intro-para">
              The twists and turns of the labyrinth have a sense of mystery and grandeur around them.
              So, Microsoft Learn Student Chapter brings you a complex network of passages through which you have to find a way out.<br> 
              Keep this in mind<br>
              1. The maze has 4 levels - Easy, Medium, Hard, and Extreme.<br>
              2. In the end, you will be shown the number of steps you took to achieve the task. 
              So make sure you know where you are going XD
            </p>
            <!-- Game Start Button -->
            <div>
              <a href="/game" class="btn" id="start-button" role="button" aria-pressed="true"><span>LET'S START!</span></a>
            </div>  
            <div>
              <a href="https://github.com/MicrosoftStudentChapter/Techmeet-DEMO" class="btn" id="code-button" role="button" aria-pressed="true"><span>VIEW SOURCE CODE</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Particle JS -->
      <div id="particles-js"></div>
    </div>

    <!-- JS Script -->
    <script type="text/javascript" src="/script/particle.js"></script>
    <script type="text/javascript" src="/script/index.js"></script> 
    <script>
      AOS.init();
  </script>
</body>
</html>

